@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oh no! A System.Exception has occured.... CAAAAAAAAALL STACK!!! FIGHT ME ONE ON ONE!!! </h1>
<h2 class="text-danger">An error occurred while processing your request. If so, truly I am sorry! Unless you were incorrectly entering the URL manually, if so I have prepared this link to the home page for you: a <a href="">Dominotes </a>